<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AKReactNative</string>
			<key>Title</key>
			<string>AKReactNative</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AKTBJSONModel</string>
			<key>Title</key>
			<string>AKTBJSONModel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlicloudALBBOpenAccount</string>
			<key>Title</key>
			<string>AlicloudALBBOpenAccount</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlicloudSecurityGuardSDK</string>
			<key>Title</key>
			<string>AlicloudSecurityGuardSDK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlicloudSGMain</string>
			<key>Title</key>
			<string>AlicloudSGMain</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/AlicloudSGSecurityBody</string>
			<key>Title</key>
			<string>AlicloudSGSecurityBody</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/CocoaAsyncSocket</string>
			<key>Title</key>
			<string>CocoaAsyncSocket</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMLCoapBase</string>
			<key>Title</key>
			<string>IMLCoapBase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSAccount</string>
			<key>Title</key>
			<string>IMSAccount</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSApiClient</string>
			<key>Title</key>
			<string>IMSApiClient</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSAuthentication</string>
			<key>Title</key>
			<string>IMSAuthentication</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBoneKit</string>
			<key>Title</key>
			<string>IMSBoneKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBoneLogUtil</string>
			<key>Title</key>
			<string>IMSBoneLogUtil</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBonePluginKit</string>
			<key>Title</key>
			<string>IMSBonePluginKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBoneServiceCore</string>
			<key>Title</key>
			<string>IMSBoneServiceCore</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBoneServicePluginKit</string>
			<key>Title</key>
			<string>IMSBoneServicePluginKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBoneUserTrack</string>
			<key>Title</key>
			<string>IMSBoneUserTrack</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSBreezeSDK</string>
			<key>Title</key>
			<string>IMSBreezeSDK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSDeviceCenter</string>
			<key>Title</key>
			<string>IMSDeviceCenter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSDeviceGateway</string>
			<key>Title</key>
			<string>IMSDeviceGateway</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSIotSmart</string>
			<key>Title</key>
			<string>IMSIotSmart</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSLog</string>
			<key>Title</key>
			<string>IMSLog</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSMobileChannel</string>
			<key>Title</key>
			<string>IMSMobileChannel</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSOpsTools</string>
			<key>Title</key>
			<string>IMSOpsTools</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSOtaBusinessSdk</string>
			<key>Title</key>
			<string>IMSOtaBusinessSdk</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSPCloudNetwork</string>
			<key>Title</key>
			<string>IMSPCloudNetwork</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSPCloudPush</string>
			<key>Title</key>
			<string>IMSPCloudPush</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSReactNativeExtension</string>
			<key>Title</key>
			<string>IMSReactNativeExtension</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSRouter</string>
			<key>Title</key>
			<string>IMSRouter</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/IMSThingCapability</string>
			<key>Title</key>
			<string>IMSThingCapability</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LinkNetworkSDK</string>
			<key>Title</key>
			<string>LinkNetworkSDK</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/MJRefresh</string>
			<key>Title</key>
			<string>MJRefresh</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Reachability</string>
			<key>Title</key>
			<string>Reachability</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ZipArchive</string>
			<key>Title</key>
			<string>ZipArchive</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
